pandas==1.3.5
numpy==1.21.6
tqdm
sentencepiece==0.1.96
tokenizers==0.12.1
torch==1.11.0
transformers==4.18.0
scikit-learn
tensorboard==2.6.0
psutil
opencv-python==4.5.4.60
matplotlib==3.5.2
albumentations==1.2.0
tez==0.6.7

